body {
    font-family: 'Roboto', sans-serif;
    background: #E5E5E5;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0px auto;
    padding: 0 15px;
}

.header {
    background: linear-gradient(141.61deg, rgba(86, 81, 81, 0.4) -24.39%, rgba(74, 72, 72, 0.83) -15.7%, rgba(62, 59, 58, 0.961411) 31.15%, #3B3736 106.25%);
    text-align: center;
    border-radius: 0px 0px 60px 60px;
    margin-bottom: 73px;
}

.header_inner p {
    font-weight: bold;
    font-size: 28px;
    padding: 45px 200px;
    color: #EEE6E2;
}

.main {
    display: flex;

}

.discription {
    text-align: left;
}


.discription_photo {
    display: flex;
    align-items: center;
    margin-bottom: 38px;
}


.photo {
    margin-right: 133px;
}

.discription_info h1 {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 23px;
    text-transform: uppercase;

    color: #3B3736;

} 


.user_info {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    margin-bottom: 15px;
    color: rgba(59, 55, 54, 0.8);
}

.user_data {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    color: #3B3736;

}

.cards {
    display: flex;
    justify-content: space-between;
}

.cards_inner {
    width: 500px;
    height: 250px;
    background: rgba(168, 159, 144, 0.1);
    border-radius: 51px;
    padding: 22px 25px;
    display: flex;
    margin-bottom: 30px;
}

.icon {
    margin-right: 18px;

}

.goal_header {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 20px;
    text-transform: uppercase;

    color: #3B3736;


}

.goal {
    font-size: 16px;
    line-height: 150.19%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #3B3736;

}

.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.week {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first_part p,.second_part p {
    font-size: 16px;
    line-height: 150.19%;
    margin-bottom: 10px;
    color: #3B3736;    
}

.courses {
    width: 100%;
    height: auto;
    background: rgba(168, 159,
     144, 0.1);
    backdrop-filter: blur(50px);
    border-radius: 51px;
    padding: 22px 55px;
    margin-bottom: 30px;
}

.table {
    width: 100%;
    padding: 5px;
    text-align: justify;
}

.table td {
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 150.19%;
    color: #3B3736; 
}

thead {
    font-weight: 700;
}

.courses_header {
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 20px;
    text-transform: uppercase;

    color: #3B3736;
}

.footer {
    width: 100%;
    background: linear-gradient(141.61deg, rgba(86, 81, 81, 0.4) -24.39%, rgba(74, 72, 72, 0.83) -15.7%, rgba(62, 59, 58, 0.961411) 31.15%, #3B3736 106.25%);
    text-align: center;
    padding: 15px 200px;

}

.footer p {
    font-weight: bold;
    font-size: 28px;
    padding: 15px 0px;
    color: #EEE6E2;
}

.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social {
    width: 40px;
    height: 40px;
    
}

@media (max-width:700px) {
    .discription_photo {
        display: block;
        text-align: center;
    }
}